@import "tailwindcss";
@import "katex/dist/katex.min.css";

:root {

  --background: #f8fafc;

  --foreground: #0f172a;

}



body {

  background: var(--background);

  color: var(--foreground);

  font-family: Arial, Helvetica, sans-serif;

}




.input {

  width: 100%;

  border-radius: 0.75rem;

  border: 1px solid #e2e8f0;

  padding: 0.75rem 1rem;

  margin-bottom: 1rem;

  outline: none;

  background: white;

}



.input:focus {

  border-color: #2563eb;

  ring: 2px;

}



button {

  cursor: pointer;

}
